<nav class="fixed w-full top-0 left-0 flex justify-between items-center p-3 bg-gray-900 border border-black">
  <div class="logo">
    <i class="fa fa-code text-gray-200 text-4xl flex justify-start align-middle items-center" routerLink="/home"></i>
  </div>
  <div class="flex items-center justify-between">
    <div class="relative">
      <span class="absolute mt-1.5 mx-3"><i class="fa fa-search text-white align-middle"></i></span>
      <div class="search-container" [ngClass]="{'expanded': isExpanded}">
        <input id="member_email" [(ngModel)]="searchQuery" (input)="onSearchQueryChange()"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded
           focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Search..." (focus)="expandInput()" (blur)="contractInput()">
      </div>
    </div>

    <button class="button-search ml-1">
      <span class="px-5 py-3 text-sm font-medium text-center text-white bg-blue-700 rounded cursor-pointer
         hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600
          dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</span>
    </button>
  </div>

  <div class="nav-items relative">
    <i class="fa fa-user icon" (click)="openModal()"></i>
    <div class="absolute">
      <div class="fixed z-10 inset-0 overflow-y-auto bg-black bg-opacity-50" *ngIf="isModalOpen">
        <div class="flex justify-end items-start min-h-screen pt-16">
          <div class="bg-gray-800 w-2/3 md:w-1/2 lg:w-1/4 rounded-lg shadow-lg">
            <div class="modal-header flex items-center justify-between bg-gray-900 text-white p-4 rounded-t-lg">
              <h2 class="modal-title font-bold text-lg"><i class="fas fa-circle mr-2 text-green-500"></i>
              {{ currentUser?.status === 'ONLINE' ? 'Online' : currentUser?.status }}</h2>
              <button (click)="closeModal()" class="text-white text-2xl focus:outline-none">
                <i class="fa fa-window-close"></i>
              </button>
            </div>
            <div class="modal-body p-4">
              <section class="flex flex-col gap-4">
                <article class="w-full bg-gray-700 text-white p-4 rounded-lg border-l-2 border-orange-500">
                  <p><i class="fas fa-user mr-2"></i><span class="font-semibold">Username: </span>
                  {{ currentUser?.username }}</p>
                  <p><i class="fas fa-envelope mr-2"></i><span class="font-semibold">E-mail: </span>
                    {{ currentUser?.email }}</p>
                  <p><i class="fas fa-user-circle mr-2"></i><span class="font-semibold">First Name: </span>
                    {{ currentUser?.firstName }}</p>
                  <p><i class="fas fa-user-circle mr-2"></i><span class="font-semibold">Last Name: </span>
                    {{ currentUser?.lastName }}</p>
                  <!-- <p><i class="fas fa-info-circle mr-2"></i><span class="font-semibold">Status: </span> {{ currentUser?.status }}</p> -->
                  <p><i class="fas fa-user-shield mr-2"></i><span class="font-semibold">Role: </span>
                  {{ currentUser?.role }}</p>
                </article>
              </section>
              <button (click)="logout()"
                class="mt-4 py-2 px-4 dark:bg-blue-600 text-white font-semibold rounded-md hover:bg-blue-800 focus:outline-none">
                Logout <i class="ml-2 fas fa-sign-out-alt"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="mt-16"></div>
