<div class="client-background"></div>
<div class="client-page">
  <div class="client-page-content bg-gray-900
    p-10 shadow-lg shadow-black border-t-2 border-orange-500 rounded-md text-orange-400">
    <h3 class="text-3xl text-center font-semibold pb-5 pt-0">Client</h3>
    <form class="flex flex-col">
      <div class="flex flex-col mt-4 mb-1 relative">
        <label for="name" class="teste absolute top-3 left-9 transition-all duration-300 text-white"
          [class.label-active]="nameFocused || client.name">
          {{ validation && !client.name ? '' : 'Name' }}
          <span *ngIf="validation && !client.name" class="text-red-500">*Name</span>
        </label>
        <i class="fa fa-user absolute top-4 left-3 text-white"></i>
        <input id="name" class="border-l-4 pl-10 h-12 border border-gray-300 rounded bg-transparent text-white"
          [(ngModel)]="client.name" name="name" type="text" required
          [ngClass]="{
          'border-green': hasText(client.name),
          'border-red-500': validation && !client.name
        }" (focus)="nameFocused = true" (blur)="nameFocused = false">
      </div>
      <div class="flex flex-col mt-4 mb-1 relative">
        <label for="email" class="absolute top-3 left-9 transition-all duration-300 text-white"
          [class.label-active]="emailFocused || client.email">
          {{ validation && !client.email ? '' : 'E-mail' }}
          <span *ngIf="validation && !client.email" class="text-red-500">*E-mail</span>
        </label>
        <i class="fa fa-envelope absolute top-4 left-3 text-white"></i>
        <input id="email" class="border-l-4 pl-10 h-12 border border-gray-300 rounded bg-transparent text-white"
          [(ngModel)]="client.email" name="email" type="text" placeholder=""
          [ngClass]="{
          'border-green': hasText(client.email),
          'border-red-500': validation && !client.email
         }" (focus)="emailFocused = true" (blur)="emailFocused = false">
      </div>
      <div class="flex flex-col mt-4 mb-1 relative">
        <label for="cpf" class="absolute top-3 left-9 transition-all duration-300 text-white"
          [class.label-active]="cpfFocused || client.cpf">
          {{ validation && !client.cpf ? '' : 'CPF' }}
          <span *ngIf="validation && !client.cpf" class="text-red-500">*CPF</span>
        </label>
        <i class="fa fa-id-card absolute top-4 left-3 text-white"></i>
        <input id="cpf" class="border-l-4 pl-10 h-12 border border-gray-300 rounded bg-transparent text-white"
          [(ngModel)]="client.cpf" name="cpf" type="text" placeholder="" mask="000.000.000-00"
          [ngClass]="{
            'border-green': hasText(client.cpf),
            'border-red-500': validation && !client.cpf }" (focus)="cpfFocused = true" (blur)="cpfFocused = false"
          autocomplete="cpf">
      </div>
      <div class="flex flex-col mt-4 mb-1 relative">
        <label for="phone" class="absolute top-3 left-9 transition-all duration-300 text-white"
          [class.label-active]="phoneFocused || client.phone">
          {{ validation && !client.phone ? '' : 'Phone number' }}
          <span *ngIf="validation && !client.phone" class="text-red-500">*Phone number</span>
        </label>
        <i class="fa fa-phone absolute top-4 left-3 text-white"></i>
        <input id="phone" class="border-l-4 pl-10 h-12 border border-gray-300 rounded bg-transparent text-white"
          [(ngModel)]="client.phone" name="phone" type="text" placeholder="" mask="(00) 0 0000-0000"
          [ngClass]="{
            'border-green': hasText(client.phone),
            'border-red-500': validation && !client.phone }" (focus)="phoneFocused = true"
          (blur)="phoneFocused = false" autocomplete="phone">
      </div>
      <div class="flex">
        <button *ngIf="editMode; else createMode"
          class="flex-1 bg-blue-800 hover:bg-blue-600 p-2 rounded mt-3 mr-2 text-white" (click)="updateClient(client)">
          Save
        </button>

        <ng-template #createMode>
          <button class="flex-1 bg-blue-800 hover:bg-blue-600 p-2 rounded mt-3 mr-2 text-white"
            (click)="createClient()">
            Create
          </button>
        </ng-template>

        <button class="flex-1 bg-gray-600 hover:bg-gray-500 p-2 rounded mt-3 text-white" (click)="close()">
          Close
        </button>
      </div>

    </form>
  </div>
