<div class="content" role="main">
  <!-- Seu conteúdo existente -->

  <button (click)="toggleUserDetails()">Current User</button>
  <div *ngIf="currentUserVisible">
    <h2>User Details</h2>
    <p>Username: {{ currentUser?.username }}</p>
    <p>Email: {{ currentUser?.email }}</p>
    <p>First Name: {{ currentUser?.firstName }}</p>
    <p>Last Name: {{ currentUser?.lastName }}</p>
    <p>Status: {{ currentUser?.status }}</p>
    <p>Role: {{ currentUser?.role }}</p>
  </div>

  <hr />

  <button (click)="logout()">Logout</button>

</div>
