.login-page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('../../../assets/bg-img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  width: 100%;
}

.login-page {
  width: 35%;
  border-color: rgba(255, 255, 255, .2);
  border-radius: 10px;
}

.login-page input::placeholder {
  color: white;
}

.login-page button:hover {
  background-color: white;
  color: black;
}

.login-page button:active {
  transform: translateY(2px);
  transition: transform 0.2s ease;
}

.login-page a:hover {
  color: rgb(68, 238, 68);
}

.login-page input:focus {
  outline: 1px solid white;
}
