<div class="mx-auto m-20 login-page">
  <div class="lg:w-4/12 p-10 shadow-lg mx-auto rounded-md"
    style="background-color: rgba(255, 255, 255, 0.1); backdrop-filter: blur(20px); border: 2px solid rgba(255, 255, 255, .2); color: #fff; border-radius: 10px; padding: 30px 40px;">
    <h3 class="text-3xl text-center font-semibold py-5">Login</h3>
    <form class="flex flex-col">
      <div class="flex flex-col mt-4 mb-1 relative">
        <i class="fa fa-user absolute top-4 left-3 text-white"></i>
        <input class="p-2 pl-10 h-12 border border-gray-300 rounded bg-transparent text-white"
          [(ngModel)]="loginDto.username" name="login" type="text" placeholder="Username" required
          [ngClass]="{'border-red-500': validation && !loginDto.username }">
        <!-- <span class="text-red-500" *ngIf="validation && !loginDto.username">*Username is required</span> -->
      </div>
      <div class="flex flex-col mt-4 mb-1 relative">
        <i class="fa fa-lock absolute top-4 left-3 text-white"></i>
        <input #passwordInput class="p-2 pl-10 h-12 border border-gray-300 rounded bg-transparent text-white"
          [(ngModel)]="loginDto.password" name="password" type="{{ passwordVisible ? 'text' : 'password' }}"
          placeholder="Password" required [ngClass]="{'border-red-500': validation && !loginDto.password }">
        <!-- <span class="text-red-500" *ngIf="validation && !loginDto.password">*Password is required</span> -->
        <i *ngIf="passwordVisible" class="fa fa-eye absolute top-4 right-3 text-white cursor-pointer"
          (click)="togglePasswordVisibility(passwordInput)"></i>
        <i *ngIf="!passwordVisible" class="fa fa-eye-slash absolute top-4 right-3 text-white cursor-pointer"
          (click)="togglePasswordVisibility(passwordInput)"></i>
      </div>
      <button class="bg-indigo-900 p-2 h-12 rounded mt-3 text-white" (click)="login(loginDto)">Submit</button>
    </form>
    <div class="flex justify-center mt-5">
      <span>You Don't Have an Account?</span> <a class="text-blue-400 ml-2 cursor-pointer"
        routerLink="/register">Register Here</a>
    </div>
  </div>
</div>
