.register-page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('../../../assets/bg-img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  width: 100%;
}

.register-page {
  width: 35%;
  border-color: rgba(255, 255, 255, .2);
  border-radius: 10px;
}

.register-page input::placeholder {
  color: white;
}

.register-page button:hover {
  background-color: white;
  color: black;
}

.register-page button:active {
  transform: translateY(2px);
  transition: transform 0.2s ease;
}

.register-page a:hover {
  color: rgb(68, 238, 68);
}

.register-page label {
  transform: translateY(0);
}

.register-page .label-active {
  color: rgb(68, 238, 68);
  transform: translateY(-22px);
  font-size: 0.8rem;
  background-color: rgb(17 24 39);
  padding: 0 5px;
}

.border-green {
  outline: none;
  border-color: transparent;
  box-shadow: 0 0 0 1px rgb(68, 238, 68);
}
