<div class="lg:w-4/12 p-10 shadow-lg mx-auto m-20 bg-gray-100 rounded-md">
  <h3 class="text-3xl text-center font-semibold py-5">Register</h3>
  <form class="flex flex-col">
    <div class="flex flex-col mt-4 mb-1">
      <input class="p-2 border border-gray-300 rounded" [(ngModel)]="registerDto.firstName" name="firstName" type="text"
        placeholder="FirstName" [ngClass]="{'border-red-500': validation && !registerDto.firstName }">
      <span class="text-red-500" *ngIf="validation && !registerDto.firstName">*FirstName is required</span>
    </div>
    <div class="flex flex-col mt-4 mb-1">
      <input class="p-2 border border-gray-300 rounded" [(ngModel)]="registerDto.lastName" name="lastName" type="text"
        placeholder="LastName" [ngClass]="{'border-red-500': validation && !registerDto.lastName }">
      <span class="text-red-500" *ngIf="validation && !registerDto.lastName">*LastName is required</span>
    </div>
    <div class="flex flex-col mt-4 mb-1">
      <input class="p-2 border border-gray-300 rounded" [(ngModel)]="registerDto.username" name="username" type="text"
        placeholder="Username" [ngClass]="{'border-red-500': validation && !registerDto.username }">
      <span class="text-red-500" *ngIf="validation && !registerDto.username">*Username is required</span>
    </div>
    <div class="flex flex-col mt-4 mb-1">
      <input class="p-2 border border-gray-300 rounded" [(ngModel)]="registerDto.email" name="email" type="text"
        placeholder="Email" [ngClass]="{'border-red-500': validation && !registerDto.email }">
      <span class="text-red-500" *ngIf="validation && !registerDto.email">*Email is required</span>
    </div>
    <div class="flex flex-col mt-4 mb-1">
      <input class="p-2 border border-gray-300 rounded" [(ngModel)]="registerDto.password" name="password"
        type="password" placeholder="Password" [ngClass]="{'border-red-500': validation && !registerDto.password }">
      <span class="text-red-500" *ngIf="validation && !registerDto.password">*Password is required</span>
    </div>
    <div class="flex flex-col mt-4 mb-1">
      <input class="p-2 border border-gray-300 rounded" [(ngModel)]="registerDto.confirmPassword" name="confirmPassword"
        type="password" placeholder="Confirm Password"
        [ngClass]="{'border-red-500': validation && !registerDto.confirmPassword }">
      <span class="text-red-500" *ngIf="validation && !registerDto.confirmPassword">*Confirm Password is required</span>
    </div>
    <div class="flex flex-col mt-4 mb-1" style="display: none;">
      <select id="role" name="role" [(ngModel)]="registerDto.role">
        <option value="0" selected hidden></option>
      </select>
    </div>
    <div class="flex flex-col mt-4 mb-1" style="display: none;">
      <select id="status" name="status" [(ngModel)]="registerDto.status">
        <option value="0" selected hidden></option>
      </select>
    </div>
    <button class="bg-indigo-500 p-2 rounded mt-3 text-white" (click)="register(registerDto)">Submit</button>
  </form>
  <div class="flex justify-center mt-5">
    <span>Already Have Account?</span> <a class="text-indigo-600 ml-2 cursor-pointer" routerLink="/login">Login Here</a>
  </div>
</div>
