<div *ngIf="!isSidebarOpen"
  class="sidebar-mini fixed top-0 bottom-0 lg:left-0 left-0 p-2 w-16 flex flex-col items-center justify-center bg-gray-800 rounded-r-md">
  <i class="fa-solid fa-bars text-white text-2xl cursor-pointer" (click)="open()"></i>
  <div class="mt-5">
    <hr>
    <div class="p-2.5 flex items-center px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white"
      routerLink="/home">
      <i class="fa-solid fa-house text-white text-2xl"></i>
    </div>
    <div class="p-2.5 flex items-center px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white"
      routerLink="/clients">
      <i class="fa-solid fa-shop text-white text-2xl"></i>
    </div>
    <div class="p-2.5 flex items-center px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white"
      routerLink="/users">
      <i class="fa-solid fa-users text-white text-2xl"></i>
    </div>
    <div class="p-2.5 flex items-center px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white"
      routerLink="/info">
      <i class="fa-solid fa-circle-info text-white text-2xl"></i>
    </div>
    <hr>
    <div class="p-2.5 flex items-center px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white"
      (click)="logout()">
      <i class="fa-solid fa-sign-out text-white text-2xl"></i>
    </div>
  </div>
</div>

<div [ngClass]="{'sidebar': true, 'open': isSidebarOpen, 'closed': !isSidebarOpen}"
  class="fixed top-48 lg:left-0 left-[-300px] w-[300px] overflow-auto text-center bg-gray-800 rounded-md">

  <div class="text-gray-100 text-xl">
    <div class="p-2.5 mt-1 flex items-center">
      <i class="fa-solid fa-layer-group px-2 py-2 bg-blue-600 rounded-md"></i>
      <h1 class="font-bold text-gray-200 text-[20px] ml-3">Sidebar</h1>
      <i class="fa-solid fa-square-xmark ml-32 text-white hover:text-gray-300 text-2xl cursor-pointer lg:hidden"
        (click)="close()"></i>
    </div>
  </div>
  <hr class="mt-2 mb-2 text-gray-600">

  <div class="font-extralight">
    <div class="p-2.5 mt-3 flex items-center px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white"
      routerLink="/home">
      <i class="fa-solid fa-house text-white"></i>
      <span class="text-[17px] ml-4 text-gray-200">Home</span>
    </div>

    <div class="p-2.5 mt-3 flex items-center px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white"
      routerLink="/clients">
      <i class="fa-solid fa-shop text-white"></i>
      <span class="text-[17px] ml-4 text-gray-200">Clients</span>
    </div>

    <div class="p-2.5 mt-3 flex items-center px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white">
      <i class="fa-solid fa-users text-white"></i>
      <div class="flex justify-between w-full items-center" routerLink="/users">
        <span class="text-[17px] ml-4 text-gray-200">Users</span>
      </div>
    </div>

    <div class="p-2.5 mt-3 flex items-center px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white"
      routerLink="/info">
      <i class="fa-solid fa-circle-info text-white"></i>
      <span class="text-[17px] ml-4 text-gray-200">Infos</span>
    </div>

    <hr class="mt-2 mb-2 text-gray-600">

    <div class="p-2.5 mt-3 mb-3 flex items-center px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white"
      (click)="logout()">
      <i class="fa-solid fa-sign-out text-white"></i>
      <span class="text-[17px] ml-4 text-gray-200">Logout</span>
    </div>
  </div>

</div>
