<div class="edit-page">
  <div class="edit-page-content bg-gray-900
    p-10 shadow-lg shadow-black rounded-md text-white">
    <h3 class="text-3xl text-center font-semibold pb-5 pt-0">Edit User</h3>
    <form class="flex flex-col">
      <div class="flex flex-col mt-4 mb-1 relative">
        <label for="firstName" class="teste absolute top-3 left-9 transition-all duration-300 text-white"
          [class.label-active]="firstNameFocused || user.firstName">
          {{ validation && !user.firstName ? '' : 'First Name' }}
          <span *ngIf="validation && !user.firstName" class="text-red-500">*First Name</span>
        </label>
        <i class="fa fa-user absolute top-4 left-3 text-white"></i>
        <input id="firstName" class="border-l-4 pl-10 h-12 border border-gray-300 rounded bg-transparent text-white"
          [(ngModel)]="user.firstName" name="firstName" type="text" required
          [ngClass]="{
          'border-green': hasText(user.firstName),
          'border-red-500': validation && !user.firstName
        }"
        (focus)="firstNameFocused = true"
        (blur)="firstNameFocused = false">
      </div>
      <div class="flex flex-col mt-4 mb-1 relative">
        <label for="lastName" class="absolute top-3 left-9 transition-all duration-300 text-white"
          [class.label-active]="lastNameFocused || user.lastName">
          {{ validation && !user.lastName ? '' : 'Last Name' }}
          <span *ngIf="validation && !user.lastName" class="text-red-500">*Last Name</span>
        </label>
        <i class="fa fa-user absolute top-4 left-3 text-white"></i>
        <input id="lastName" class="border-l-4 pl-10 h-12 border border-gray-300 rounded bg-transparent text-white"
          [(ngModel)]="user.lastName" name="lastName" type="text" placeholder=""
          [ngClass]="{
          'border-green': hasText(user.lastName),
          'border-red-500': validation && !user.lastName
         }"
         (focus)="lastNameFocused = true"
         (blur)="lastNameFocused = false">
      </div>
      <div class="flex flex-col mt-4 mb-1 relative">
        <label for="username" class="absolute top-3 left-9 transition-all duration-300 text-white"
          [class.label-active]="usernameFocused || user.username">
          {{ validation && !user.username ? '' : 'Username' }}
          <span *ngIf="validation && !user.username" class="text-red-500">*Username</span>
        </label>
        <i class="fa fa-user absolute top-4 left-3 text-white"></i>
        <input id="username" class="border-l-4 pl-10 h-12 border border-gray-300 rounded bg-transparent text-white"
          [(ngModel)]="user.username" name="username" type="text" placeholder=""
          [ngClass]="{
            'border-green': hasText(user.username),
            'border-red-500': validation && !user.username }"
            (focus)="usernameFocused = true"
            (blur)="usernameFocused = false" autocomplete="username">
      </div>
      <div class="flex flex-col mt-4 mb-1 relative">
        <label for="email" class="absolute top-3 left-9 transition-all duration-300 text-white"
          [class.label-active]="emailFocused || user.email">
          {{ validation && !user.email ? '' : 'E-mail' }}
          <span *ngIf="validation && !user.email" class="text-red-500">*E-mail</span>
        </label>
        <i class="fa fa-envelope absolute top-4 left-3 text-white"></i>
        <input id="email" class="border-l-4 pl-10 h-12 border border-gray-300 rounded bg-transparent text-white"
          [(ngModel)]="user.email" name="email" type="text" placeholder=""
          [ngClass]="{
            'border-green': hasText(user.email),
            'border-red-500': validation && !user.email }"
            (focus)="emailFocused = true"
            (blur)="emailFocused = false"
          autocomplete="email">
      </div>
      <div class="flex flex-col mt-4 mb-1 relative">
        <label for="password" class="absolute top-3 left-9 transition-all duration-300 text-white"
          [class.label-active]="passwordFocused || user.password">
          {{ validation && !user.password ? '' : 'Password' }}
          <span *ngIf="validation && !user.password" class="text-red-500">*Password</span>
        </label>
        <i class="fa fa-lock absolute top-4 left-3 text-white"></i>
        <input id="password" #passwordInput
          class="border-l-4 pl-10 h-12 border border-gray-300 rounded bg-transparent text-white"
          [(ngModel)]="user.password" name="password" type="password" placeholder=""
          [ngClass]="{
            'border-green': hasText(user.password),
            'border-red-500': validation && !user.password
            }" (focus)="passwordFocused = true" (blur)="passwordFocused = false" autocomplete="current-password">
        <i *ngIf="passwordVisible" class="fa fa-eye absolute top-4 right-3 text-white cursor-pointer"
          (click)="togglePasswordVisibility(passwordInput)"></i>
        <i *ngIf="!passwordVisible" class="fa fa-eye-slash absolute top-4 right-3 text-white cursor-pointer"
          (click)="togglePasswordVisibility(passwordInput)"></i>
      </div>
      <div class="flex flex-col mt-4 mb-1 relative">
        <label for="confirmPassword" class="absolute top-3 left-9 transition-all duration-300 text-white"
          [class.label-active]="confirmPasswordFocused || user.confirmPassword">
          {{ validation && !user.confirmPassword ? '' : 'Confirm Password' }}
          <span *ngIf="validation && !user.confirmPassword" class="text-red-500">*Confirm Password</span>
        </label>
        <i class="fa fa-lock absolute top-4 left-3 text-white"></i>
        <input id="confirmPassword" #confirmPasswordInput
          class="border-l-4 pl-10 h-12 border border-gray-300 rounded bg-transparent text-white"
          [(ngModel)]="user.confirmPassword" name="password" type="password" placeholder=""
          [ngClass]="{
          'border-green': hasText(user.confirmPassword),
          'border-red-500': validation && !user.confirmPassword
          }" (focus)="confirmPasswordFocused = true" (blur)="confirmPasswordFocused = false"
          autocomplete="confirmPassowrd">
        <i *ngIf="confirmPasswordVisible" class="fa fa-eye absolute top-4 right-3 text-white cursor-pointer"
          (click)="toggleConfirmPasswordVisibility(confirmPasswordInput)"></i>
        <i *ngIf="!confirmPasswordVisible" class="fa fa-eye-slash absolute top-4 right-3 text-white cursor-pointer"
          (click)="toggleConfirmPasswordVisibility(confirmPasswordInput)"></i>
      </div>
      <div class="flex flex-col mt-4 mb-1" style="display: none;">
        <select id="role" name="role" [(ngModel)]="user.role">
          <option value="ADMIN" selected hidden></option>
        </select>
      </div>
      <div class="flex flex-col mt-4 mb-1" style="display: none;">
        <select id="status" name="status" [(ngModel)]="user.status">
          <option value="ONLINE" selected hidden></option>
        </select>
      </div>
      <div class="flex">
        <button class="flex-1 bg-blue-800 hover:bg-blue-600 p-2 rounded mt-3 mr-2 text-white" (click)="updateUser()">Save</button>
        <button class="flex-1 bg-gray-600 hover:bg-gray-500 p-2 rounded mt-3 text-white" (click)="close()">Close</button>
      </div>
    </form>
  </div>
